.contianer > p {
  margin: 20px 0 0;

  font-size: 28px;
  font-weight: 600;
  color: #3f3f3f;
}

.equations {
  margin: 10px auto;
  padding: 5px 0;
  max-width: 300px;

  font-size: 24px;
  font-weight: 600;

  color: #fff;
  background-color: #615454;
  border-radius: 5px;
}
